@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0.05vw;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

body {
  background-color: #1c1d21;
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  padding: 3% 5%;
}

main header {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main header .left {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main header .left .logo {
  width: 35%;
}

main header .left .logo a {
  text-decoration: none;
}

main header .left .logo a h1 {
  font-size: 2vw;
  color: #dcdddd;
}

main header .left .logo a h1 span {
  color: #009ff6;
}

main header .left .links {
  width: 65%;
}

main header .left .links ul {
  list-style: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main header .left .links ul li {
  margin: 0 5%;
}

main header .left .links ul li a {
  text-decoration: none;
  color: #dcdddd;
  font-size: 1vw;
}

main header .left .links ul li a:hover {
  color: #009ff6;
}

main header .right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main header .right .avatar {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main header .right .avatar .image {
  width: 4vw;
  height: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 50%;
  border: 0.2vw solid #009ff6;
  padding: 1%;
  margin-left: 5%;
}

main header .right .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

main header .right .username {
  width: 20%;
  margin-left: 5%;
  text-align: right;
}

main header .right .username p {
  color: #dcdddd;
  font-size: 1vw;
  margin-bottom: 2%;
  text-align: right;
}

main header .right .username a {
  text-align: right;
  display: inline-block;
  text-decoration: none;
  color: #009ff6;
  font-size: 0.9vw;
}

main header .right .username a:hover {
  -webkit-animation: shake 0.3s;
          animation: shake 0.3s;
}

main header .right form {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main header .right form input[type="text"] {
  width: 60%;
  padding: 2% 4%;
  outline: none;
  border-width: 0.1vw 0 0.1vw 0.1vw;
  border-style: solid;
  border-color: #009ff6;
  background-color: transparent;
  color: #dcdddd;
  border-radius: 0.3vw 0 0 0.3vw;
  font-size: 0.9vw;
}

main header .right form input[type="submit"] {
  width: 20%;
  padding: 2%;
  outline: none;
  border: 0.1vw solid #009ff6;
  background-color: transparent;
  color: #dcdddd;
  border-radius: 0 0.3vw 0.3vw 0;
  font-size: 0.9vw;
  cursor: pointer;
}

main header .right form input[type="submit"]:hover {
  background-color: #009ff6;
}

main #hero {
  width: 100%;
  height: 100%;
  padding: 5% 15% 7% 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #hero .add-form {
  width: 100%;
  height: 100%;
  padding: 5%;
  border: 0.1vw solid #009ff6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main #hero .add-form h3 {
  color: #009ff6;
  font-size: 1.5vw;
  margin-bottom: 5%;
}

main #hero .add-form form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main #hero .add-form form input {
  width: 100%;
  color: #dcdddd;
  font-size: 0.9vw;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 0.1vw solid #009ff6;
  padding: 2%;
  margin-bottom: 7%;
}

main #hero .add-form form input[type="submit"] {
  background-color: #009ff6;
  color: #dcdddd;
  outline: none;
  border: 0.1vw solid #009ff6;
  padding: 3% 5%;
  font-size: 0.9vw;
  font-weight: 500;
  border-radius: 0.3vw;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

main #hero .add-form form input[type="submit"]:hover {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: transparent;
  color: #009ff6;
}

main #hero .add-form form textarea {
  width: 100%;
  margin: 5% 0;
  color: #dcdddd;
  background-color: transparent;
  border: 0.1vw solid #009ff6;
  font-size: 0.8vw;
  padding: 2%;
  height: 7vw;
}

main #hero .add-form form label {
  color: #009ff6;
  font-size: 0.9vw;
}

footer {
  margin-top: 3%;
  text-align: center;
  width: 100%;
  padding: 2% 7%;
}

footer .container {
  border-top: 0.1vw solid #242528;
  padding: 5% 0 3% 0;
}

footer .container p {
  color: #dcdddd;
  font-size: 0.9vw;
}
/*# sourceMappingURL=edit_project.css.map */