@import "mixins";

body {
  background-color: $background_color;
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  padding: 3% 5%;

  // - - - - - header styling - - - - - - //
  header {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .logo {
        width: 35%;
        a {
          text-decoration: none;
          h1 {
            font-size: 2vw;
            color: $text_color;
            span {
              color: $primary_color;
            }
          }
        }
      }
      .links {
        width: 65%;
        ul {
          list-style: none;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          li {
            margin: 0 5%;
            a {
              text-decoration: none;
              color: $text_color;
              font-size: 1vw;
              &:hover {
                color: $primary_color;
              }
            }
          }
        }
      }
    }

    .right {
      width: 50%;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-start;
      .avatar {
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .image {
          width: 4vw;
          height: 4vw;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          border-radius: 50%;
          border: 0.2vw solid $primary_color;
          padding: 1%;
          margin-left: 5%;
        }
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .username {
        width: 20%;
        margin-left: 5%;
        text-align: right;
        p {
          color: $text_color;
          font-size: 1vw;
          margin-bottom: 2%;
          text-align: right;
        }
        a {
          text-align: right;
          display: inline-block;
          text-decoration: none;
          color: $primary_color;
          font-size: 0.9vw;
          &:hover {
            animation: shake 0.3s;
          }
        }
      }
      form {
        width: 65%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        input[type="text"] {
          width: 60%;
          padding: 2% 4%;
          outline: none;
          border-width: 0.1vw 0 0.1vw 0.1vw;
          border-style: solid;
          border-color: $primary_color;
          background-color: transparent;
          color: $text_color;
          border-radius: 0.3vw 0 0 0.3vw;
          font-size: 0.9vw;
        }
        input[type="submit"] {
          width: 20%;
          padding: 2%;
          outline: none;
          border: 0.1vw solid $primary_color;
          background-color: transparent;
          color: $text_color;
          border-radius: 0 0.3vw 0.3vw 0;
          font-size: 0.9vw;
          cursor: pointer;
          &:hover {
            background-color: $primary_color;
          }
        }
      }
    }
  }

  // - - - - - hero section styling - - - - - //

  #hero {
    width: 100%;
    height: 100%;
    padding: 5% 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .left {
      width: 60%;
      padding: 0 5%;
      border-right: 0.2vw solid #28292c;
      .project-image {
        width: 100%;
        padding-top: 2%;
        border-radius: 0.3vw;
        border: 0.1vw solid $primary_color;
        img {
          width: 100%;
          border-radius: 0.3vw;
        }
      }
      h3 {
        font-size: 1.2vw;
        color: $text_color;
        margin: 3% 0;
      }
      p {
        color: $text_color;
        margin-bottom: 5%;
        font-size: 0.9vw;
        line-height: 1.7vw;
      }
      .user-details {
        width: 100%;
        margin: 3% 0;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          font-size: 1vw;
          color: $text_color;
          text-transform: capitalize;
          a {
            display: inline-block;
            text-decoration: none;
            text-transform: capitalize;
            color: $primary_color;
           
            &:hover {
              animation: shake 0.3s;
            }
          }
        }
      }

      .cta {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          margin: 0 2%;
          padding: 1.5% 4%;
          text-decoration: none;
          color: $text_color;
          background-color: $primary_color;
          border: 0.1vw solid $primary_color;
          font-size: 0.9vw;
          border-radius: 0.3vw;
          font-weight: 500;
        }
      }
    }
    .right {
      width: 40%;
      margin: 0 5%;
      h2 {
        font-size: 1.2vw;
        color: $text_color;
        margin-bottom: 10%;
      }
      .rate {
        .ratings {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .rating {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .score {
              width: 5vw;
              height: 5vw;
              border: 0.2vw solid $primary_color;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 5%;
              p {
                color: $text_color;
                font-size: 1.5vw;
                font-weight: 500;
              }
            }
            p {
              margin: 5% 0;
              color: $text_color;
              font-size: 1vw;
              text-align: center;
            }
          }
        }
        .user_rating {
          width: 100%;
          h3 {
            font-size: 1.2vw;
            margin-bottom: 5%;
          }
          form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            .all {
              width: 100%;
              display: flex;
              .item {
                width: 25%;
                .label {
                  color: $text_color;
                  margin-right: 2%;
                  font-size: 0.9vw;
                  margin-bottom: 10%;
                }
                input {
                  width: 50%;
                  padding: 5% 5% 5% 10%;
                  border-radius: 0.4vw;
                  outline: none;
                  border: none;
                  border: 0.1vw solid $primary_color;
                  color: $text_color;
                  background-color: transparent;
                  font-size: 0.85vw;
                }
              }
            }
            input[type="submit"] {
              margin-top: 7%;
              padding: 1.5% 4%;
              text-decoration: none;
              color: $text_color;
              background-color: $primary_color;
              border: 0.1vw solid $primary_color;
              font-size: 0.9vw;
              border-radius: 0.3vw;
              font-weight: 500;
              cursor: pointer;
            }
          }
        }
        h3 {
          color: $text_color;
          margin-top: 10%;
          font-size: 1.2vw;
        }
        .single {
          margin: 5% 0;
          .crit {
            color: $primary_color;
            font-weight: 500;
            font-size: 1vw;
            line-height: 1.7vw;
          }
          p {
            color: $text_color;
            font-size: 0.9vw;
            line-height: 1.5vw;
          }
        }
      }
    }
  }
}

// - - - - - footer styling - - - - - //
footer {
  margin-top: 5%;
  text-align: center;
  width: 100%;
  padding: 2% 7%;

  .container {
    border-top: 0.1vw solid $tags_color;
    padding: 5% 0 0 0;
    p {
      color: $text_color;
      font-size: 0.9vw;
    }
  }
}
