<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'users/css/signup.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'projects/images/folder.png' %}"
      type="image/x-icon"
    />
    {% block title %}
    <title>Signup</title>
    {% endblock %}
  </head>
  <body>
    <main>
      <div class="left">
        <img src="{% static 'users/images/developer.svg' %}" alt="developer" />
      </div>
      <div class="right">
        <form>
          {% csrf_token %}
          <!--  -->
          {% block form %}
          <h1>Sign Up</h1>
          <label for="username">
            <span>Username</span>
            <input type="text" id="username" name="username" />
          </label>
          <label for="email">
            <span>Email</span>
            <input type="email" name="email" id="email" />
          </label>
          <label for="pasword">
            <span>Password</span>
            <input type="password" name="password" id="password" />
          </label>
          <input type="submit" value="Submit" />
          {% endblock %}
        </form>
      </div>
    </main>
  </body>
</html>
