<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'projects/css/index.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'projects/images/folder.png' %}"
      type="image/x-icon"
    />
    <title>Home</title>
  </head>
  <body>
    <main>
      <!-- header section -->
      <header>
        <div class="left">
          <div class="logo">
            <a href="{% url 'projects-home' %}">
              <h1>Project<span>Watch</span></h1>
            </a>
          </div>
          <div class="links">
            <ul>
              <li><a href="{% url 'projects-home' %}">Home</a></li>
              <li><a href="{% url 'projects-user' %}">Profile</a></li>
            </ul>
          </div>
        </div>
        <div class="right">
          <div class="avatar">
            <div class="image">
              <img src="{{current_user.profile.image.url}}" alt="user-image" />
            </div>
          </div>
          <div class="username">
            {% if current_user.first_name and current_user.last_name%}
            <p>{{current_user.first_name}} {{current_user.last_name}}</p>
            {% else %}
            <p>{{current_user.username}}</p>
            {% endif %}
            <a href="{% url 'users-signout' %}">Sign Out</a>
          </div>
          <form action="{% url 'projects-search' %}" method="post">
            {% csrf_token %}
            <input type="text" name="search" id="search" />
            <input type="submit" value="Search" />
          </form>
        </div>
      </header>

      <!-- hero section -->
      <section id="hero">
        <div class="left">
          <div class="top-rated">
            <svg aria-hidden="true" role="img" viewBox="0 0 20 20">
              <path
                fill="currentColor"
                d="m10 1l3 6l6 .75l-4.12 4.62L16 19l-6-3l-6 3l1.13-6.63L1 7.75L7 7z"
              />
            </svg>
            <h3>Top Rated</h3>
          </div>
          <div class="project-image">
            <img src="{{top_rated.image.url}}" alt="{{top_rated.title}}" />
          </div>
          <div class="user-details">
            <p>
              By:
              <a href="{% url 'projects-profile' top_rated.user.username  %}"
                >{{top_rated.user.username}}</a
              >
            </p>
          </div>
          <div class="cta">
            <a href="{% url 'projects-project' top_rated.id %}"
              >Visit Project</a
            >
            <a href="{{top_rated.link}}">Visit Live</a>
          </div>
        </div>
        <div class="right">
          <h2>Ratings . . .</h2>
          <div class="rate">
            <div class="ratings">
              <div class="rating">
                <div class="score">
                  <p>{{averages.0}}</p>
                </div>
                <p>Design</p>
              </div>
              <div class="rating">
                <div class="score">
                  <p>{{averages.1}}</p>
                </div>
                <p>Usability</p>
              </div>
              <div class="rating">
                <div class="score">
                  <p>{{averages.2}}</p>
                </div>
                <p>Content</p>
              </div>
              <div class="rating">
                <div class="score">
                  <p>{{averages.3}}</p>
                </div>
                <p>Average</p>
              </div>
            </div>
            <br />
            <div class="single">
              <p class="crit">Design</p>
              <p>
                This rating is based on the overall appearance of the project.
              </p>
            </div>
            <div class="single">
              <p class="crit">Usability</p>
              <p>
                This can be translated to the user experience and how responsive
                the project is.
              </p>
            </div>
            <div class="single">
              <p class="crit">Content</p>
              <p>
                This includes the technologies used, the font used(is it uniform
                throughout the project) and grammar and many others.
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- users sections  -->
      <section id="users">
        <div class="heading">
          <h3>Explore from others</h3>
          <hr />
        </div>

        <div class="all-users">
          {% if users %}
          <!--  -->
          {% for user in users %}
          <!--  -->
          {% if user != current_user %}
          <div class="user">
            <div class="image">
              <img src="{{user.profile.image.url}}" alt="username" />
            </div>
            <div class="details">
              <a href="{% url 'projects-profile' user.username %}"
                >{{user.username}}</a
              >
              <p class="title">{{user.profile.work_title}}</p>
            </div>
          </div>
          {% endif %}
          <!--  -->
          {% endfor %}
          <!--  -->
          {% endif %}
        </div>
      </section>

      <!-- latest projects -->
      <section id="latest">
        <div class="heading">
          <h3>Latest Uploads</h3>
          <hr />
        </div>
        <div class="all-projects">
          {% if projects %}
          <!--  -->
          {% for project in projects %}
          <div class="project">
            <div class="image">
              <img src="{{project.image.url}}" alt="projet-title" />
            </div>
            <div class="cta">
              <h3>{{project.title}}</h3>
              <a href="{% url 'projects-project' project.id %}"
                >Visit Project</a
              >
            </div>
          </div>
          {% endfor %}
          <!--  -->
          {% else %}
          <div class="user">
            <p>There are no projects at this time</p>
          </div>
          <!--  -->
          {% endif %}
        </div>
      </section>
      <footer>
        <div class="container">
          <p>All Rights Reserved | <span class="current-year">{{year}}</span></p>
        </div>
      </footer>
    </main>

    <script src="{% static 'projects/js/index.js' %}"></script>
  </body>
</html>
