<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'projects/css/project.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'projects/images/folder.png' %}"
      type="image/x-icon"
    />
    <title>Home</title>
  </head>
  <body>
    <main>
      <!-- header section -->
      <header>
        <div class="left">
          <div class="logo">
            <a href="">
              <h1>Project<span>Watch</span></h1>
            </a>
          </div>
          <div class="links">
            <ul>
              <li><a href="">Home</a></li>
              <li><a href="">Profile</a></li>
              <li><a href="">Projects</a></li>
            </ul>
          </div>
        </div>
        <div class="right">
          <div class="avatar">
            <div class="image">
              <img
                src="{% static 'projects/images/sam.jpeg' %}"
                alt="user-image"
              />
            </div>
          </div>
          <div class="username">
            <p>Username</p>
            <a href="">Sign Out</a>
          </div>
          <form>
            <input type="text" name="search" id="search" />
            <input type="submit" value="Search" />
          </form>
        </div>
      </header>

      <!-- hero section -->
      <section id="hero">
        <div class="left">
          <div class="project-image">
            <img src="{% static 'projects/images/sample.png' %}" alt="" />
          </div>
          <div class="user-details">
            <p>By: <a href="">Username</a></p>
          </div>
          <div class="cta">
            <a href="">Visit Project</a>
            <a href="">Visit Live</a>
          </div>
        </div>
        <div class="right">
          <h2>Ratings . . .</h2>
          <div class="rate">
            <div class="ratings">
              <div class="rating">
                <div class="score">
                  <p>8</p>
                </div>
                <p>Design</p>
              </div>
              <div class="rating">
                <div class="score">
                  <p>8</p>
                </div>
                <p>Usability</p>
              </div>
              <div class="rating">
                <div class="score">
                  <p>8</p>
                </div>
                <p>Content</p>
              </div>
              <div class="rating">
                <div class="score">
                  <p>8</p>
                </div>
                <p>Average</p>
              </div>
            </div>
            <br />
            <div class="single">
              <p class="crit">Design</p>
              <p>How would you rate the design of the project?</p>
            </div>
            <div class="single">
              <p class="crit">Usability</p>
              <p>How would you rate the project's usability?</p>
            </div>
            <div class="single">
              <p class="crit">Content</p>
              <p>What do you think about the project's content?</p>
            </div>
            <button>Rate</button>
          </div>
        </div>
      </section>

      <footer>
        <div class="container">
          <p>All Rights Reserved | <span class="current-year"></span></p>
        </div>
      </footer>
    </main>

    <script src="{% static 'projects/js/index.js' %}"></script>
  </body>
</html>
