<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'projects/css/logged.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'projects/images/folder.png' %}"
      type="image/x-icon"
    />
    <title>Profile</title>
  </head>
  <body>
    <main>
      <!-- header section -->
      <header>
        <div class="left">
          <div class="logo">
            <a href="{% url 'projects-home' %}">
              <h1>Project<span>Watch</span></h1>
            </a>
          </div>
          <div class="links">
            <ul>
              <li><a href="{% url 'projects-home' %}">Home</a></li>
              <li><a href="{% url 'projects-user' %}">Profile</a></li>
            </ul>
          </div>
        </div>
        <div class="right">
          <div class="avatar">
            <div class="image">
              <img
                src="{{current_user.profile.image.url}}"
                alt="{{current_user.username}}"
              />
            </div>
          </div>
          <div class="username">
            {% if current_user.first_name and current_user.last_name%}
            <p>{{current_user.first_name}} {{current_user.last_name}}</p>
            {% else %}
            <p>{{current_user.username}}</p>
            {% endif %}
            <a href="{% url 'users-signout' %}">Sign Out</a>
          </div>
          <div class="add">
            <a href="{% url 'projects-add-project' %}">
              <span>&times;</span>
              <p>Add Project</p>
            </a>
          </div>
        </div>
      </header>

      <!-- hero section -->
      <section id="hero">
        <div class="left">
          <div class="user">
            <div class="user-image">
              <img
                src="{{current_user.profile.image.url}}"
                alt="{{current_user.username}}"
              />
            </div>
            <div class="details">
              {% if current_user.first_name and current_user.last_name%}
              <a href=""
                >{{current_user.first_name}} {{current_user.last_name}}</a
              >
              {% else %}
              <a href="">{{current_user.username}}</a>
              {% endif %}

              <p class="title">{{current_user.profile.work_title}}</p>
            </div>
          </div>
        </div>
        <div class="right">
          <h2>Bio . . .</h2>
          <div class="bio">
            <p>{{current_user.profile.bio}}</p>
            <div class="socials">
              <a href="{{current_user.profile.twitter}}" target="_blank">
                <svg aria-hidden="true" role="img" viewBox="0 0 20 20">
                  <path
                    fill="currentColor"
                    d="M10 .4C4.698.4.4 4.698.4 10s4.298 9.6 9.6 9.6s9.6-4.298 9.6-9.6S15.302.4 10 .4zm3.905 7.864c.004.082.005.164.005.244c0 2.5-1.901 5.381-5.379 5.381a5.335 5.335 0 0 1-2.898-.85c.147.018.298.025.451.025c.886 0 1.701-.301 2.348-.809a1.895 1.895 0 0 1-1.766-1.312a1.9 1.9 0 0 0 .853-.033a1.892 1.892 0 0 1-1.517-1.854v-.023c.255.141.547.227.857.237a1.89 1.89 0 0 1-.585-2.526a5.376 5.376 0 0 0 3.897 1.977a1.891 1.891 0 0 1 3.222-1.725a3.797 3.797 0 0 0 1.2-.459a1.9 1.9 0 0 1-.831 1.047a3.799 3.799 0 0 0 1.086-.299a3.834 3.834 0 0 1-.943.979z"
                  />
                </svg>
              </a>

              <a href="{{current_user.profile.github}}" target="_blank">
                <svg aria-hidden="true" role="img" viewBox="0 0 24 24">
                  <path
                    fill="currentColor"
                    d="M12 2.247a10 10 0 0 0-3.162 19.487c.5.088.687-.212.687-.475c0-.237-.012-1.025-.012-1.862c-2.513.462-3.163-.613-3.363-1.175a3.636 3.636 0 0 0-1.025-1.413c-.35-.187-.85-.65-.013-.662a2.001 2.001 0 0 1 1.538 1.025a2.137 2.137 0 0 0 2.912.825a2.104 2.104 0 0 1 .638-1.338c-2.225-.25-4.55-1.112-4.55-4.937a3.892 3.892 0 0 1 1.025-2.688a3.594 3.594 0 0 1 .1-2.65s.837-.262 2.75 1.025a9.427 9.427 0 0 1 5 0c1.912-1.3 2.75-1.025 2.75-1.025a3.593 3.593 0 0 1 .1 2.65a3.869 3.869 0 0 1 1.025 2.688c0 3.837-2.338 4.687-4.563 4.937a2.368 2.368 0 0 1 .675 1.85c0 1.338-.012 2.413-.012 2.75c0 .263.187.575.687.475A10.005 10.005 0 0 0 12 2.247Z"
                  />
                </svg>
              </a>

              <a href="{{current_user.profile.linkedin}}" target="_blank">
                <svg aria-hidden="true" role="img" viewBox="0 0 20 20">
                  <path
                    fill="currentColor"
                    d="M10 .4C4.698.4.4 4.698.4 10s4.298 9.6 9.6 9.6s9.6-4.298 9.6-9.6S15.302.4 10 .4zM7.65 13.979H5.706V7.723H7.65v6.256zm-.984-7.024c-.614 0-1.011-.435-1.011-.973c0-.549.409-.971 1.036-.971s1.011.422 1.023.971c0 .538-.396.973-1.048.973zm8.084 7.024h-1.944v-3.467c0-.807-.282-1.355-.985-1.355c-.537 0-.856.371-.997.728c-.052.127-.065.307-.065.486v3.607H8.814v-4.26c0-.781-.025-1.434-.051-1.996h1.689l.089.869h.039c.256-.408.883-1.01 1.932-1.01c1.279 0 2.238.857 2.238 2.699v3.699z"
                  />
                </svg>
              </a>
            </div>
            <div class="cta">
              <a href="{% url 'projects-edit-user' %}">Edit Profile</a>
            </div>
          </div>
        </div>
      </section>

      <!-- latest projects -->
      <section id="latest">
        <div class="heading">
          <h3>My Projects</h3>
          <hr />
        </div>
        <div class="all-projects">
          {% if user_projects %}
          <!--  -->
          {% for project in user_projects %}
          <div class="project">
            <div class="image">
              <img src="{{project.image.url}}" alt="{{project.title}}" />
            </div>
            <div class="cta">
              <h3>{{project.title}}</h3>
              <div>
                <a href="">Edit</a>
                <hr />
                <a href="">Delete</a>
              </div>
            </div>
          </div>
          {% endfor %}
          <!--  -->
          {% else %}
          <div class="user">
            <p>There are no projects at this time</p>
          </div>
          <!--  -->
          {% endif %}
        </div>
      </section>
      <footer>
        <div class="container">
          <p>
            All Rights Reserved | <span class="current-year">{{year}}</span>
          </p>
        </div>
      </footer>
    </main>

    <script src="{% static 'projects/js/index.js' %}"></script>
  </body>
</html>
