<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'projects/css/edit_user.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'projects/images/folder.png' %}"
      type="image/x-icon"
    />
    <title>Home</title>
  </head>
  <body>
    <main>
      <!-- header section -->
      <header>
        <div class="left">
          <div class="logo">
            <a href="{% url 'projects-home' %}">
              <h1>Project<span>Watch</span></h1>
            </a>
          </div>
          <div class="links">
            <ul>
              <li><a href="{% url 'projects-home' %}">Home</a></li>
              <li><a href="{% url 'projects-user' %}">Profile</a></li>
            </ul>
          </div>
        </div>
        <div class="right">
          <div class="avatar">
            <div class="image">
              <img
                src="{% static 'projects/images/sam.jpeg' %}"
                alt="user-image"
              />
            </div>
          </div>
          <div class="username">
            <p>Samuel Martins</p>
            <a href="{% url 'users-signout' %}">Sign Out</a>
          </div>
        </div>
      </header>

      <!-- hero section -->
      <section id="hero">
        <div class="add-form">
          <h3>Edit Your Profile Details</h3>
          <form method="post" , enctype="multipart/form-data">
            {% csrf_token %}
            <!--  -->
            {{u_form}}
            <!--  -->
            {{p_form}}
            <!--  -->
            <input type="submit" value="Submit" />
          </form>
        </div>
      </section>

      <footer>
        <div class="container">
          <p>All Rights Reserved | <span class="current-year">{{year}}</span></p>
        </div>
      </footer>
    </main>

    <script src="{% static 'projects/js/index.js' %}"></script>
  </body>
</html>
